/*Importing 'Fjalla One' font from Google Fonts API*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#app {
    background-color: rgba(245, 245, 245, 1) ;
}

#products-section {
    margin: auto;
    padding: 5rem 0;
    display: block;
    text-align: center;
}

#products-h2 {
    color: rgba(255, 193, 7, 1);
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: 700;
}